html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #d05c2e;
  color: #fff;
  font-size: 2rem;
  padding: .4rem 0;
  margin: .7rem;
  display: block;
}
