html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #d05c2e;
  color: #fff;
  display: block;
}

.grain {
  width: 40px;
  height: 40px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 0;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

a {
  font-size: 1.125rem;
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: .4rem 0;
}

a:hover {
  background-color: #a63f38;
}

li {
  width: 33.3333%;
  border: 1px solid #a63f38;
}
